<div class="row">
  <div class="six columns">
    <!--
      To evaluate an attribute value before its assign, 
      we must write it inside brackets.
      If we want grab the data from an event 
      we need to use the $event reserved word
    -->
    <app-contact-list 
      [contacts]="contacts$ | async" 
      (selectedContact)="showDetails($event)"
      (deleteButtonClicked)="deleteContact($event)">
      </app-contact-list>
  </div>
  <div class="six columns">
      <app-contact-details
      [contact]="selectedContact"
      (facebookButtonClicked)="showProfile($event)"
      (twitterButtonClicked)="showProfile($event)"></app-contact-details>  </div>
</div>