<div class="container">

  <header>
    <h1>re/schedule</h1>
  </header>
  
  <!--
    navbar, with routerLink directive we should put
    the path where we want to navigate. This route is defined
    on routing module
  -->
  <nav>
    <ul>
      <li><a routerLink="/contact-list" routerLinkActive="nav-active">Contacts</a></li>
      <li><a routerLink="/new-contact" routerLinkActive="nav-active">New contact</a></li>
    </ul>
  </nav>
  
  <!-- dynamic zone -->
  <router-outlet></router-outlet>
  
</div>